@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 207 89% 94%;
    --foreground: 215 28% 21%;
    --card: 0 0% 100%;
    --card-foreground: 215 28% 21%;
    --popover: 0 0% 100%;
    --popover-foreground: 215 28% 21%;
    --primary: 207 90% 61%;
    --primary-foreground: 0 0% 100%;
    --secondary: 207 88% 86%;
    --secondary-foreground: 215 28% 21%;
    --muted: 207 88% 90%;
    --muted-foreground: 215 20% 45%;
    --accent: 207 88% 74%;
    --accent-foreground: 215 28% 21%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 207 88% 80%;
    --input: 207 88% 86%;
    --ring: 207 90% 61%;
    --chart-1: 207 90% 61%;
    --chart-2: 207 88% 74%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    --sidebar-background: 207 89% 92%;
    --sidebar-foreground: 215 28% 21%;
    --sidebar-primary: 207 90% 61%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 207 88% 86%;
    --sidebar-accent-foreground: 215 28% 17%;
    --sidebar-border: 207 88% 80%;
    --sidebar-ring: 207 90% 61%;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 207 90% 61%;
    --primary-foreground: 215 28% 17%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 207 88% 74%;
    --accent-foreground: 215 28% 17%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 207 90% 61%;
    --chart-1: 207 90% 61%;
    --chart-2: 207 88% 74%;

    --sidebar-background: 222 47% 9%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 207 90% 61%;
    --sidebar-primary-foreground: 215 28% 17%;
    --sidebar-accent: 217 33% 17%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217 33% 17%;
    --sidebar-ring: 207 90% 61%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}